<!DOCTYPE html>
<html lang="en">
  <style type="text/css">
   .body {
    margin: 5px
    }

    p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
   }

    form {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;
    }
  
  </style>
  <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Fusion Menu Generator</title>
</head>

  <body>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
       <a class="navbar-brand" href="/">Fusion Menu Generator</a>
</nav>
<br>
<blockquote class="blockquote text-center">    
<h3>Please choose two types of food to create your fusion menu item!</h3>
</blockquote>
<form action="/menu-item" method="post", enctype="application/json">
    <div class="form row">
     <div class="col">
       <label for="Cuisine1">First cuisine type</label>
       <select class="form-control form-control-lg" name="Cuisine1">
	 <option value="American">American</option>
	 <option value="Chinese">Chinese</option>
	 <option value="Italian">Italian</option>
	 <option value="Indian">Indian</option>
	 <option value="Greek">Greek/Turkish</option>
	 <option value="Mexican">Mexican</option>
	 <option value="Japanese">Japanese</option>
	 <option value="Vietnamese">Vietnamese</option>
	 <option value="Thai">Thai</option>
       </select>
     </div>

    <div class="col">
      <label for="Cuisine2">Second cuisine type</label>
      <select class="form-control form-control-lg" name="Cuisine2">
	 <option value="American">American</option>
	 <option value="Chinese">Chinese</option>
	 <option value="Italian">Italian</option>
	 <option value="Indian">Indian</option>
	 <option value="Greek">Greek/Turkish</option>
	 <option value="Mexican">Mexican</option>
	 <option value="Japanese">Japanese</option>
	 <option value="Vietnamese">Vietnamese</option>
	 <option value="Thai">Thai</option>
      </select>
    </div>
    </div>

    <input type="submit" value="submit">
    
  </form>
 
</body>

</html>
